a:link 
{ 
	text-decoration:none; 
} 

body{
    /* This image will be displayed fullscreen */
    background:url('/static/background.jpg') no-repeat center center;

    /* Ensure the html element always takes up the full height of the browser window */
    min-height:100%;

    /* The Magic */
    background-size:cover;
}

html{
    /* Workaround for some mobile browsers */
    min-height:100%;
}
